<html lang="en">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div style="text-align: center; margin-top: 1rem" class="form-group">
      <form action="/mngr/<%= locals.id %>?_method=DELETE" method="POST">
        <label
          class="form-group"
          style="text-align: center; padding-left: 2.6rem; font-weight: bold"
          >Are you sure you want to delete this Movie?</label
        ><br />
        <ul style="list-style: none">
          <li>
            <div>
              <label style="font-weight: bold"> Title </label>
            </div>
            <input
              type="text"
              id="<%= locals.id %>"
              name="Delete"
              value="<%= locals.title %> "
              readonly
            />
          </li>
          <br />
          <button>DELETE</button>
        </ul>
      </form>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
